* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: hsl(30, 38%, 92%);
}

img {
  max-width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  margin-top: 15%;
}

.image {
  width: 300px;
  background-image: url(/images/image-product-desktop.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.perfume-info {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  width: 300px;
  height: 450px;
  background-color: white;
  padding: 30px;
  margin: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.perfume-title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 3px;
  color: hsl(228, 12%, 48%);
}

.perfume-name {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 3.2rem;
  color: hsl(212, 21%, 14%);
}

.perfume-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  line-height: 2rem;
  font-size: 1.4rem;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-sale {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 3rem;
}

.price-original {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 1.4rem;
  text-decoration: line-through;
  padding-right: 50px;
}

.button {
  display: flex;
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 14px 30px;
  align-items: center;
  justify-content: center;
}

.button svg {
  margin-right: 10px;
}

@media (max-width: 375px) {
  .container {
    flex-direction: column;
    margin: 25px 0 25px;
  }

  .perfume-info,
  .image {
    width: 345px;
  }

  .image {
    height: 250px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    background-image: url(/images/image-product-mobile.jpg);
    background-position: center;
    background-size: cover;
  }

  .perfume-info {
    height: 365px;
    padding: 28px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }

  .price-original {
    padding-right: 100px;
  }
}
